html {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
}

body {
  background-color: #ffffff;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  max-width: 800px;
  width: 100%;
  gap: 1.5em;
  margin: auto;
}

/* defining header  */

header {
  background-color: #6D7E8C;
  display: grid;
  grid-template-areas:
  'heading logo'
  'nav logo'
  ;
  grid-template-columns: 1fr auto;
  padding: 2em;
  gap: 1em;
}

@media (min-width: 40em) {
  header {
    grid-template-areas:
    'heading nav logo'
    ;
    grid-template-columns: 2fr 1fr auto;
  }
}

header .heading {grid-area: heading; }
header .menu {grid-area: nav; }
header .logo {grid-area: logo; }


.heading {
  display: grid;
  align-content: center;
}

.heading h2 {
  color: #ffffff;
  margin: 0;
}

nav {
  display: grid;
  align-content: center;
}

nav ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

nav ul li {
  display: inline;
}

nav ul li  + li:before{
  color: #FFFFFF;
  content: " | ";
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li a:active {
  color: #001534;
}

nav ul li a:hover {
  color: rgb(66, 66, 66);
}

.logo {
  display: grid;
  align-items: center;
}

.logo img {
  max-width: 6em;
  filter: invert(100%)
}

/* defining section */

section {
  visibility: hidden;
  display: grid;
  grid-template-areas:
  'image'
  'title'
  'button'
  'summary'
  ;
}

@media (min-width: 40em) {
  section{
    grid-template-areas:
      'title image'
      'button image'
      'summary image'
      ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
  }

  section .image {
    grid-row: span 2;
  }
}

section .image {grid-area: image; }
section .title {grid-area: title; }
section .button {grid-area: button; }
section .summary {grid-area: summary; }

.highlight {
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: solid 0.2em black;
}

@media (min-width: 800px) {
  .highlight {
    margin-left: 0;
    margin-right: 0;
  }
}


.highlight .title {
  text-align: center;
}

.highlight .button {
  text-align: center;
}

.highlight .button button{
  border: 2px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 1.05em;
  padding: 0.3em 1em 0.3em 1em;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
}

.highlight .button button:hover {
    background-color: white; /* Green */
    color: black;
}

.highlight .image {
  text-align: center;
}

.highlight .image img {
  width: 100%;
  max-width: 250px;
}

@media (min-width: 40em) {
  .highlight .summary {
    padding-right: 1em;
  }
}

/* defining main */

.movies {
  visibility: hidden;
  border: none;
  margin: 0px 0px 10px 0px;
  padding: 5px;
}

.movies h2 {
  text-align: center;
  margin-top: 0;
}


/* defining .carousel */

.carousel {
  display: grid;
  gap: 5px;
  grid-template-areas: 'arrow_left movies_list_container arrow_right';
  grid-template-rows: auto 1fr auto;
}

.arrow.left {grid-area: arrow_left; }
.arrow.right {grid-area: arrow_right; }
.movies_list_container {grid-area: movies_list_container; }

.arrow {
  display: grid;
  align-content: center;
}

.movies_list_container {
  overflow: hidden;
  padding: 1.5em 0.5em 1.5em 0.5em;
}

.movies_list {
  display: grid;
  align-content: center;
  width: 700%;
  gap: 1em;
  grid-template-columns: repeat(7, auto);
}

@media (min-width: 40em) {
  .movies_list {
    width: 175%;
    grid-template-columns: repeat(7, auto);
  }
}

.movie_picture {
  text-align: center;
}

.movie_picture img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: 0.4s;
}

.movie_picture img:hover {
  transform: scale(1.1);
}

.arrow img {
  align-self: center;
  width: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.arrow.left {
  visibility: hidden;
}

.arrow img:hover {
  transform: scale(1.15);
}

.movies_list {
  transition: transform 330ms ease-in-out;
  position: relative;
  left: 0px;
}


/* defining modal */

.modal {
  display: none;
  position: fixed;
  overflow: auto;
  right: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  color: white;
}

.modal .modal_container {
  display: grid;
  grid-template-areas:
  'cross'
  'title'
  'parameters'
  'image'
  'cast'
  'rating'
  'summary'
  ;
  gap: 10px;
  margin: auto;
  max-width: 800px;
}

@media (min-width: 40em) {
  .modal .modal_container {
    grid-template-areas:
    'cross cross'
    'title title'
    'parameters parameters'
    'cast image'
    'rating image'
    'summary summary'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  auto auto auto 1fr auto;
  }
}

#cross {grid-area: cross; }
#title {grid-area: title; }
#movie_parameters {grid-area: parameters; }
#cast {grid-area: cast; }
#rating {grid-area: rating; }
#modal_image {grid-area: image; }
#summary {grid-area: summary; }

#cross {
  text-align: right;
}

#cross img {
  padding: 0;
  margin: 3px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: solid black 2px;
  background: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

#cross img:hover {
  background: red;
}

#title h3 {
  text-align: center;
  margin: 0;
}

#movie_parameters ul {
  text-align: center;
  padding: 0;
}

#movie_parameters ul li{
  display: inline;
  white-space: nowrap;
}

#movie_parameters ul li  + li:before{
  content: " | ";
  padding: 0 10px;
}

#cast ul {
  padding: 0;
}

#cast li {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

#ratings ul {
  padding: 0;
}

#ratings li {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

#modal_image {
  text-align: center;
}

#modal_image img {
  width: 100%;
  max-width: 250px;
}

/* defining footer */

footer {
  border-top: 1px solid #6D7E8C;
  text-align: center;
  font-size: 0.7em;
  color:#6D7E8C;
}